@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
    /* background-color: black;
    color:white */
}

#name{
   background: -webkit-linear-gradient(16deg , #4b90ff , #ff5546);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#resultScroll::-webkit-scrollbar{
    display: none;
}

#loader{
    width:100%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right ,#9ed7ff ,#ffffff ,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s  infinite linear;
}

@keyframes loader{
    0%{
     background-position: -800px 0px;   
    }
    100%{
        background-position: 800px 0px;
    }
}